body {
  font-family: "Gloria Hallelujah", cursive;
  margin: 0;
  padding: 10px;
  background: #e1e1dd;
  overflow: hidden;
  touch-action: manipulation;
}

h1 {
  font-size: 24px;
}

/* Ajuste para telas pequenas (celular) */
@media (max-width: 1024px) {
    h1 {
        font-size: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .textoVa{
        font-size: 100px;
        color: transparent;
        -webkit-text-stroke: 3px #403e3e;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        rotate: -0deg;
    }

    #horaTexto{
       transform: translate(0px, 100px);
        
    }

    #daTexto{
        transform: translate(160px, -100px);
    }

    #festaTexto{
        transform: translate(10px, -280px);
        rotate: -8deg;
    }

    #bolo {
        width: 300px;
        transform: translate(0px, -108px);
        filter: brightness(1.1) contrast(1.2);
    }

    #bolo2 {
        width: 300px;
        transform: translate(-30px, -80px);
        filter: brightness(1.1) contrast(1.2);
    }

    .imgBolo{
        position: absolute;
        transform: translate(-80px, 260px);
        overflow: hidden;
        width: 200px;
        height: 113px;
        mix-blend-mode: multiply;
    }

    .imgVela1,.imgVela3{
        position: absolute;
        overflow: hidden;
        width: 20px;
        height: 29px;
        animation: chama 3s infinite alternate;
    }

    .imgVela2 {
        position: absolute;
        overflow: hidden;
        width: 20px;
        height: 29px;
        animation: chama2 4s infinite alternate;
    }

    .vela1{
        position: absolute;
        transform: translate(-145px, 238px);
        mix-blend-mode: multiply;
    }

    .vela2{
        position: absolute;
        transform: translate(-100px, 235px);
        mix-blend-mode: multiply;
    }

    .vela3{
        position: absolute;
        transform: translate(-62px, 235px);
        mix-blend-mode: multiply;
    }

    @keyframes chama {

    0% {
        transform: scale(0.9) rotate(-2deg);
    }

    50% {
        transform: scale(1.05, 0.95) rotate(20deg);
    }

    100% {
        transform: scale(0.98, 1.02) rotate(-1deg);
    }
    }

    @keyframes chama2 {

    0% {
        transform: scale(1) rotate(2deg);
    }

    50% {
        transform: scale(1.05, 1.15) rotate(-20deg);
    }

    100% {
        transform: scale(0.98, 1.02) rotate(-1deg);
    }
    }


    .fotojk{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .foto{
        scale: 105%;
        transform: translate(5%, 0px);
    }

}